# Create a .gitignore file and include node_modules/ and .DS_Store/ so that your node_modules directory isn't tracked or uploaded to GitHub. 
# Be sure to create your .gitignore file before installing any npm dependencies.

.DS_Store
*.pptx
node_modules

# tells Git to ignore the node_modules directory and any .DS_Store files in the project directory.